body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-image: url("/static/base.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  main{
    height: 100%;
    width: 100%;
  }
      #bgbase{
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        height: 100%;
        width: 100%;
        filter: brightness(30%);
      }

      #container {
        background: rgba(255, 255, 255, 0.04);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.4px);
        -webkit-backdrop-filter: blur(6.4px);
        border: 5px solid rgba(255, 255, 255, 0.671);
        margin: auto;
        width: 70%;
        height: 90%;
        border-radius: 25px;
        position: absolute;
      }

      #upload-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }
      #upload-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, 0.38);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.4px);
        -webkit-backdrop-filter: blur(6.4px);
        border: 1px solid rgba(255, 255, 255, 1);
        width:50%;
        height: 90%;
        border-radius: 23px;
      }
      #saved{
        height: 80%;
      }
      h1{
        color: #fff;
        font-weight: 600;
      }
      #label-container{
        background: rgba(255, 255, 255, 0.04);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.4px);
        -webkit-backdrop-filter: blur(6.4px);
        border: 1px solid rgba(255, 255, 255, 1);
        margin: 10px 0 0 0;
        width: 90%;
        height: 10%;
      }
      #definition-container{
        background: rgba(255, 255, 255, 0.04);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.4px);
        -webkit-backdrop-filter: blur(6.4px);
        border: 1px solid rgba(255, 255, 255, 1);
        margin: 10px 0 0 0;
        width: 90%;
        height: 30%;
        text-wrap: wrap;
      }
      #definition-container p{
        font-size: 14px;
        margin: 10px 10px 0 ;
      }

      .ani-cir{
        margin: 10px 0 0 0;
        padding: 10px 50px;
        background-color: antiquewhite;
        border-radius: 10px;
      }
      .ani-cir a{
        text-decoration: none;
        color: black;
      }

      #all-container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #img-result{
        height:80%;
        width: 80%; 
        display: flex;
        justify-content: center;
        align-items: center;
      }

      
      #img-result img{
        height: auto;
        width: 95%;
        border-radius: 25px;
      }


      #main-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%; 
      }