body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-image: url("/static/bg.png");
    background-repeat:no-repeat ;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  main{
    height: 100%;
    width: 100%;
  }

      #container {
        background: rgba( 255, 255, 255, 0.1 );
        box-shadow: 0 8px 32px 0 rgba(31, 0, 0, 0.37);
        backdrop-filter: blur( 8px );
        -webkit-backdrop-filter: blur( 8px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin: auto;
        width: 70%;
        height: 90%;
        border-radius: 25px;
        position: absolute;
      }

      #upload-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }

      #index-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
      }
      img #logo-main{
        height: 100px;
        width: 100px;  
      }

      #upload-form{
          width: 100%;
          height: 100%;
          background-color: white;
          border-radius: 25px;
      }
      h1{
        font-size: 50px;
        font-weight: 800;
        color: white;
      }

      p#preview-text {
        text-align: center;
        color: #400101;
        margin: 10px;
        font-weight: 400;
        font-size: 10px;
      }
      .btn-primary {
        color: rgb(37, 37, 37);
        background-color: #fefeff;
        border: 2px solid black;
        width: 200px;
        height: 48px;
      }
    
      #upload-btn {
        margin: 32px auto;
        display: none;
      }
    
      #upload-btn[disabled] {
        opacity: .6;
        cursor: progress;
      }

      .btn-primary:hover {
        color: #fff;
        background-color: #1f1f1f;
        box-shadow: rgba(29, 29, 29, 0.25) 0 8px 15px;
        transform: translateY(-2px);
      }
      
      .btn-primary:active {
        box-shadow: none;
        transform: translateY(0);
      }

      #select-button{
        display: flex;
        align-items: center;
        justify-content: center;
      }


  #preview img {
    display: block;
    margin-top: 30px;
    width: 50%;
    min-width: 10px;
    margin: 0;
    align-self: center;
  }

  .uploadOuter {
    text-align: left;
    padding: 20px;
    margin: 50px 0 0 0;
  }

  .uploadOuter strong {
    padding: 0 10px;
  }

  .dragBox {
    width: 500px;
    height: 200px;
    margin: 32px auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    line-height: 200px;
    color: #999;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
  }

  .dragBox input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
  }

  .draging {
    transform: scale(1.1);
  }

  #preview-container{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  #preview {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .form-group {
    max-width: 400px;
    margin-top: 32px;
    margin: 32px auto;
    margin-top: 32px;
  }
