body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-image: url("/static/background/base.jpg");
  background-repeat:no-repeat ;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
}
    #bgbase{
      z-index: 0;
      background-color: rgba(0, 0, 0, 0.85);
      position: absolute;
      height: 100%;
      width: 100%;
      filter: brightness(15%);
    }

    #container {
      /* backdrop-filter: blur(2px) saturate(182%);
      -webkit-backdrop-filter: blur(2px) saturate(182%);
      background-color: rgba(255, 255, 255, 0.13);  */
      border: 2px solid rgba(209, 213, 219, 0.9);
      /* border-width: 1px 0; */
      margin: auto;
      width: 70%;
      height: 90%;
      border-radius: 25px;
      position: absolute;
    }

    #back-icon{
      position: absolute;
      height: 20px;
      top: 30px;
      left: 20px;
    }

    #upload-logo{
      display: flex;
      
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    #index-img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 100%;
    }

    .uploadOuter {
      display: flex;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(0px) saturate(180%);
      -webkit-backdrop-filter: blur(0px) saturate(180%);
      background-color: rgba(255, 255, 255, 0.73);
      border-radius: 12px;
      border: 1px solid rgba(209, 213, 219, 0.3);
      border-radius: 0 20px 20px 0;
      height: 100%;
      width: 100%;
    }

    #upload-form{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    h1{
      font-size: 25px;
      font-weight: 800;
      color: white;
    }
    .btn-primary {
      font-size: 14px;
      background-color: white;
      color: black;
      /* background: linear-gradient(198deg, #90c8ff 0%, #fba7ff 100%); */
      padding: 10px 50px;
      /* border: solid #0080ff 2px; */
      border: none;
      /* box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px; */
      box-shadow: none;
      border-radius: 11px;
      transition : 1000ms;
      transform: translateY(0);
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      margin: 20px 0 0 0;
      
    }
  
    #upload-btn {
      margin: 32px auto;
      display: none;
    }
  
    #upload-btn[disabled] {
      opacity: .6;
      cursor: progress;
    }

    .btn-primary:hover {
      transition : 1000ms;
      padding: 10px 65px;
      transform : translateY(-0px);
      background-color: #fff;
      /* background: linear-gradient(198deg, #90c8ff 0%, #fba7ff 100%); */
      color: black;
      /* border: solid 2px #a1d0ff; */
      border: none;
      box-shadow: none;
    }
    
    .btn-primary:active {
      box-shadow: none;
      transform: translateY(0);
    }

    #select-button{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h2{
      color: white;
      text-align: center;
      font-size: 32px;
      font-weight: 800;
    }
    
    #dragdrag{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .dragBox {
      width: 80%;
      height: 50%;
      margin: 15px auto;
      position: relative;
      text-align: center;
      font-weight: bold;
      line-height: 200px;
      color: #535353;
      border: 2px dashed #535353;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s;
      background-color: rgba(255, 255, 255, 0.877);
    }
  
    .dragBox input[type="file"] {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      top: 0;
      left: 0;
    }
  
    .draging {
      transform: scale(1.1);
    }


    #preview img {
      display: block;
      margin-top: 30px;
      width: 75%;
      min-width: 10px;
      margin: 0;
      align-self: center;
      border-radius: 10%;
    }
    
    p#preview-text {
      text-align: center;
      color: #1f1f1f;
      margin: 10px;
      font-weight: 400;
      font-size: 18px;
    }
    #preview-container{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
    }

    #preview {
      display: flex;
      flex-direction: column;
      align-content: center;
    }