<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static\background\logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
    <title>Gallery</title>
</head>
<body>
    <div id="bgbase"></div>
    <div id="container">
        <h1 id="title">About</h1>
        <div id="image-container">
            <div>
                <h2>Traditional Baybayin</h2>
                <img src="static\tradbaybayin.png">
            </div>
            <div>
                <h2>Modern Baybayin</h2>
                <img src="static\modernbaybayin.jpg">
            </div>
        </div>
        <div id="text-container">
            <p></p>
        </div>
        <div id="members">
            <h1 id="members">Members</h1>
            <div class="member-container">
                <img src="">
                <p>Diane Mae Corcino</p>
            </div>
            <div class="member-container">
                <img src="">
                <p>Vashti Karmelli Camu</p>
            </div>
            <div class="member-container">
                <img src="">
                <p>Jamie Jasmine Sano</p>  
            </div>
            <div class="member-container">
                <img src="">
                <p>Paul Adrian Torres</p>
            </div>
        </div>
    </div>
</body>
</html>