<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detection.css')}}">
    <link rel="shortcut icon" href="static\background\logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection Page</title>

</head>

<body>
    <div id="bgbase"></div>
    <main id="container">
      <div id="upload-logo">
        <div id="upload-form">
                <h1>Baybayin AI</h1>
                <div id="all-container">
                    <div id="img-result">
                        {% if most_recent_image %}
                            <img id="saved" src="{{ url_for('static', filename='results/' + most_recent_image.name) }}">
                        {% else %}
                            <p>No images found</p>
                        {% endif %}
                        <div class="ani-cir"><a href="{{ url_for('gallery') }}" class="btn btn-primary">Go to Gallery</a></div>
                    </div>
                    <div id="main-text">
                        <div id="label-container">
                            <h2>Detected Labels</h2>
                        </div>
                        <ul>
                            {% for labels in labels_list %}
                                <li>{{ labels|join('  ') }}</li>
                            {% endfor %}
                        </ul>
                </div>
              </div>
        </div>
    </main>
</body>

</html>
