<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detection.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection Page</title>

</head>

<body>
    <div id="bgbase"></div>
    <main id="container">
      <div id="upload-logo">
        <div id="upload-form">
            <h1>Baybayin AI</h1>
                {% if most_recent_image %}
                    <img id="saved" src="{{ url_for('static', filename='results/' + most_recent_image.name) }}">
                {% else %}
                    <p>No images found</p>
                {% endif %}
          </div>
      </div>
    </main>
</body>

</html>
