<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static\background\logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css')}}">
    <title>Gallery</title>
</head>
<body>
    <div id="bgbase"></div>
    <div id="container">
        <h1>Prediction Gallery</h1>
        <div id="image-container">
            {% if image_filenames %}
            {% for image_filename in image_filenames %}
                <img class="images" src="{{ url_for('static', filename='results/' + image_filename.name) }}" onclick="openModal(this)">
            {% endfor %}
            {% else %}
                <p>No images found</p>
            {% endif %}
        </div>
        <div class="ani-cir"><a href="{{ url_for('splash') }}" class="btn btn-primary">Go to Home</a></div>
    </div>

    <div id="myModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modalImg">
    </div>

    <script>
        function openModal(img) {
            var modal = document.getElementById("myModal");
            var modalImg = document.getElementById("modalImg");
            modal.style.display = "block";
            modalImg.src = img.src;
        }

        function closeModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }
    </script>
</body>
</html>
