<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Analysis Flask API</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="shortcut icon" href="static\background\logo.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/web.css')}}">

</head>

<body >
    <main id="container">
      <h1>Baybayin AI</h1>
      <form id="upload-form" class="upl-container" method="POST" action="predict" enctype="multipart/form-data">
        <div class="uploadOuter">
          <span class="dragBox">
            Drag and drop file here <br>
            <input type="file" onChange="dragNdrop(event)" name="myfile" ondragover="drag()" ondrop="drop()"
              id="myfile" />
          </span>
          <div id="select-button">
          <label for="myfile" class="btn btn-primary">Select file</label>
          </div>
          <div id="preview">
            <p id="preview-text"></p>
            <div id="preview-container">
              <img id="preview-img" src="" alt="">
              <input type="submit" id="upload-btn" value="Upload file" class="btn btn-primary" />
            </div>
          </div>
        </div>
      </form>
    </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    AWS.config.update({
    });
  </script>
  <script>
    "use strict";
    const uploadBtn = document.getElementById('upload-btn')
    var fileName,
      preview = document.getElementById("preview"),
      previewImg = document.getElementById("preview-img"),
      previewtext = document.getElementById("preview-text");
    function dragNdrop(event) {
      let file = event.target.files[0]
      if (!file)
        return
      fileName = URL.createObjectURL(file);
      previewImg.setAttribute("src", fileName);
      uploadBtn.style.display = 'block';
      previewtext.innerHTML = `File selected: <b>${file.name}</b>`
    }
    function drag() {
      document.getElementById('myfile').parentNode.className = 'draging dragBox';
    }
    function drop() {
      document.getElementById('myfile').parentNode.className = 'dragBox';
    }
    function handleUpload() {
      uploadBtn.disabled = true;
      const local_server_url = `${window.location.protocol}//${window.location.hostname}:${window.location.port}`;
    }
  </script>
</body>

</html>
