<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Analysis Flask API</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/web.css') }}"> 
</head>

<body>
  <main id="container">
    <form id="upload-form" class="upl-container" method="POST" action="predict" enctype="multipart/form-data">
      <div class="uploadOuter">
        <div class="container">
          <div class="row">
          </div>
        </div>
        <span class="dragBox">
          Drag and drop file here or
          <!-- id="myfile" accept="video/*,image/*" /> -->
        </span>
        <div>
        <label for="myfile" class="btn btn-primary">Select file</label> <br>
        <input type="file" onChange="dragNdrop(event)" name="myfile" ondragover="drag()" ondrop="drop()"
        id="myfile" />
        </div>
      </div>
      <div id="preview">
        <p id="preview-text"></p>
        <img id="preview-img" src="" alt="">
      </div>

      <input type="submit" id="upload-btn" value="Upload file" class="btn btn-primary" />
    </form>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    AWS.config.update({
    });
  </script>
  <script>
    "use strict";
    const uploadBtn = document.getElementById('upload-btn')
    var fileName,
      preview = document.getElementById("preview"),
      previewImg = document.getElementById("preview-img"),
      previewtext = document.getElementById("preview-text");
    function dragNdrop(event) {
      let file = event.target.files[0]
      if (!file)
        return
      fileName = URL.createObjectURL(file);
      previewImg.setAttribute("src", fileName);
      uploadBtn.style.display = 'block';
      previewtext.innerHTML = `File selected: <b>${file.name}</b>`
    }
    function drag() {
      document.getElementById('myfile').parentNode.className = 'draging dragBox';
    }
    function drop() {
      document.getElementById('myfile').parentNode.className = 'dragBox';
    }
    function handleUpload() {
      uploadBtn.disabled = true;
      const local_server_url = `${window.location.protocol}//${window.location.hostname}:${window.location.port}`;
    }
  </script>
</body>

</html>
