<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="web.css"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='web.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baybayin AI</title>
</head>
<body>
    <main>
        <section class="sec-1">
            <div class="bb-ai-container">
                <h1 class="bb-ai">Baybayin AI</h1>
            </div>
            <div class="input-container">
                <div class="input-image-container">
                    <h1 class="upload">Upload Image</h1>
                    <div class="upload_container">
                        <form class="form_signin" method=post enctype="multipart/form-data" name="form1" action="">
                            <input class="file" type="file" id="input_image" name="file" />
                            <button class="btn-upload" type="submit">Upload image</button>
                        </form>
                    </div>
                </div>
                <div class="input-image-container2">
                    <img class="img-placement" src="baybayinimg.jpg" alt="">
                    <h2>Puhon</h2>
                    <h4>78.6%</h4>
                </div>
            </div>
        </section>
    </main>
</body>
</html>

